
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmail</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
    <div class="card border-info" style="margin-top:150px">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 style="text-align:center"><i class="fa fa-check-circle"></i> Hesabınız başarıyla aktif edildi.Teşekkür ederiz.</h4>
                    <hr>
                </div>
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-12">
                    ShiftDelete.Net Forum içerisinde uymamız gereken kurallar sizlerden gelen tavsiyeler neticesinde tekrar elden geçirilerek gerekli düzenlemeler ile ufak bir güncelleme gerçekleştirdik. Yeni kurallarımızda takdir edersiniz ki tek yegane sebebimiz sizlerin daha rahat bir ortam içerisinde huzur bulmanız için yapılandırılmıştır.Lütfen kurallarımızı okumanızı tavsiye ederiz.Yeni bir konu başlığı açılmadan önce açmış olacağınız konu hakkında bilginin forum içerisinde olup olmadığını kontrol ediniz. Forum içerisinde aynı yada bir benzeri olan içeriğe sahip konu var ise farklı bir konu açmamanız rica olunur. Buna benzer bir konu var ise bölüm moderatörlerimiz tarafından açmış olduğunuz konu tespit edilir ise kaldırılacak ve sizlere bilgi verilecektir. (Aynı konudan farklı kategoriler üzerinde konu açmak yasaktır.Herhangi bir konuyla ya da mesajla ilgili öneri, şikayet ve diğer bildirimlerinizi ilgili konunun bölüm moderatörüne " Raporla " butonunu kullanarak kolayca iletebilirsiniz. Diğer durumlar için ise süper moderatörlere özel mesaj yolu ile ulaşabilir ya da İletişim sayfasını kullanabilirsiniz. (Raporlama bölümünü gereksiz yere meşgul etmek yasaktır.Daha önceden verilen ya da yanlış açılmış, forum kurallarına aykırı mesajlara "Verildi", "Böyle paylaşımlar yasak" demek yerine lütfen "Raporla" butonunu kullanınız. Önceden verilmiş ise açıklama kısmına daha önce verilen konunun linkini ekleyiniz. Bu tip mesajlar yazanların mesajları silinecektir. Devamı halinde uyarı alacaklardır.Yeni bir konu açarken başlıkların konuya uygun ve açıklayıcı olması gerekmektedir. "Yardım", "İmdat", "Acil yardım edin" gibi başlıklar yerine daha anlamlı başlıklar seçilmelidir. Başlık ne kadar açıklayıcı olur ise o kadar ulaşılabilir olacağını unutmayınız. Konular doğru kategori içerisinde açılmalıdır. Konu ile alakası olmayan ve/veya anlamsız olan iletilerin gönderimi yasaktır.
                </div>
            </div>

        </div>
    </div>

</body>
</html>
