
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="card text-center" style="margin-top:200px">
            <div class="card-header">
                Şifre Sıfırlama Talebi
            </div>
            <div class="card-body">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-info" style="text-align:center">
                        @TempData["message"]
                    </div>
                }
                <form asp-controller="Account" asp-action="ForgotPassword">
                    <div class="form-group row">
                        <label for="full_name" class="col-md-4 col-form-label text-md-right">Mail Adresiniz</label>
                        <div class="col-md-6">
                            <input type="text" name="email" class="form-control" placeholder="örnek@gmail.com" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            Şifre Sıfırlama kodunu gönder
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
