@model StackOverFlowCoreProject.WebUI.Models.Account.UserDetailsViewModel
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 500px;">
                <h4 class="card-title mt-3 text-center">Hesap Oluşturma</h4>
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-info" style="text-align:center">
                        @TempData["message"]
                    </div>
                }
                <form asp-controller="Account" asp-action="Profil">
                    <div class="form-group row">
                        <label for="full_name" class="col-md-4 col-form-label text-md-right">Adınız</label>
                        <div class="col-md-8">
                            <input type="text" asp-for="FirstName" class="form-control" placeholder="Adınız.." autocomplete="off">
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email_address" class="col-md-4 col-form-label text-md-right">Soyadınız</label>
                        <div class="col-md-8">
                            <input type="text" asp-for="LastName" class="form-control" placeholder="Soyadınız.." autocomplete="off">
                            <span class="text-danger" asp-validation-for="LastName"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="user_name" class="col-md-4 col-form-label text-md-right">Email</label>
                        <div class="col-md-8">
                            <input type="text" asp-for="Email" class="form-control" placeholder="E mail adresiniz" autocomplete="off">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            Bilgilerimi Güncelle
                        </button>
                    </div>
                </form>
            </article>
        </div>

    </div>


