@model StackOverFlowCoreProject.WebUI.Models.Account.UserDetailsViewModel   


<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    @if (!String.IsNullOrEmpty(Model.FirstName))
    {
        <div class="card" style="width: 12rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-user-o" aria-hidden="true"></i> Hoşgeldin,</h5>
                <span>@Model.FirstName @Model.LastName</span>
                <hr style="border-color:black" />
                <a class="dropdown-item" href="~/Account/Profil"><i class="fa fa-user" aria-hidden="true"></i> Profil</a>
                <a class="dropdown-item" asp-controller="Account" asp-action="LogOff"><i class="fa fa-sign-out" aria-hidden="true"></i> Çıkış</a>
            </div>
        </div>
    }

</div>

